@import 'config';
@import 'utilities';

.Groups{
    min-height:450px;
    overflow: scroll;
    @include no-scrollbar;
    h2
    {
        height:50px;
        font-size:24px;
        color:darken($color: $acc-col1, $amount: 40);
        padding:10px 20px;
        text-align: left;
        z-index:1;
    }
    .chats{
        position: relative;
    }
    .chat{
        @include element;
        height:12%;
        min-height:10px;
        font-size:20px;
        color:darken($color: $acc-col1, $amount: 30);
        padding:20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p{
            padding:0px 20px;
        }
    }
}
.Groups::-webkit-scrollbar
{
    display: none;
}

@media(max-width:850px)
{
    .chats{
        padding-bottom:20%;
    }
}