@import 'config';
@import 'utilities';

.Leftbar {
    @include element;
    min-width:250px;

    .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:35%;
        border-radius:$border-rad;
        background:rgba(39,149,139,0.55);
        .avatar
        {
            height:10vh;
            width: 10vh;
            object-fit: cover;
            margin: 25px auto 10px auto;
            background: darken($color: $acc-col1, $amount: 30);
        }
        p
        {
            color:darken($color: $acc-col1, $amount: 30);
            font-size:20px;
        }
    }

    .bio
    { 
        @include element;
        height:20%;
        border-radius:$border-rad;
        text-align: left;
        padding:10px;
        padding-top:1vh;
        background: lighten($color: $acc-col1, $amount: 10);
        .icon
        {
            align-self: auto;
            color:$acc-col1;
            cursor:pointer;
        }
        p
        {
            height:50px;
            overflow: scroll;
            @include no-scrollbar;
            padding-top:1vh;
            font-size:14px;
            color:darken($color: $acc-col1, $amount: 30);
        }
        p::-webkit-scrollbar
        {
            display:none;
        }
    }

    .mytodo
    {
        @include element;
        @include no-scrollbar;
        height:36%;
        padding:10px;
        padding-top:1vh;
        background: lighten($color: $acc-col1, $amount: 10);
        overflow: scroll;
        .todo 
        {
            display: flex;
            padding:5px;
            input[type=checkbox]
            {
                cursor: pointer;
            }
            p 
            {
                margin-left:8px;
                font-size:14px;
                color:darken($color: $acc-col1, $amount: 30);
            }
        }
    }
    .mytodo::-webkit-scrollbar
    {
        display: none;
    }

}
